body{
  background-color: lightsteelblue;
}
.container{
  height: 100vh;
  /* background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; */
}

#formLogin{
  padding: 20px;
}
#formLogin input:focus{
  /* border: 2px solid green !important; */
  /* box-shadow: 0 0 10px green !important; */
  border: 1px solid green;
  box-shadow: none;

}
#formLogin .btn{
  padding: 10px 20px !important;
}
#formLogin .btn-reset{
  color: black !important;
}
.card{
  border-radius: 20px;
  margin-top: 100px;
  width: 350px;
  margin: 100px auto;
}